node_modules
build
.DS_Store
.cache
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
yarn-error.log
reports/
.vscode
tmp
.expo-shared
logs
**/.git
**/.DS_Store